@import "tailwindcss";

.title-section {
  @apply text-center text-4xl font-semibold;
}

h1,
h2,
h3 {
  @apply text-text-primary;
}

strong {
  @apply text-accent;
}

@theme {
  --color-accent: rgb(239 159 11);
  --color-accent-20: rgb(239 159 11 / 0.20);
  --color-accent-10: rgb(239 159 11 / 0.10);
  --color-accent-5: rgb(239 159 11 / 0.05);
  --color-primary: #16161a;
  --color-text-primary: #fffffe;
  --color-text-secondary: #94a1b2;
  --color-card-background: #72757e18;
  --color-card-border: #ffffff20;
}
