---
const { t } = Astro.props;
---

<section id="about-me" class="mx-auto flex flex-col gap-4">
  <h3 class="title-section">{t.title}</h3>
  <p class="text-center text-lg md:text-xl" set:html={t.description} />
</section>
