---
import SocialLink from "./SocialLink.astro";
---

<footer class="mb-4">
  <nav class="flex justify-center gap-4">
    <SocialLink
      href="https://github.com/alberba"
      icon="/github-mark-white.svg"
      label="Github Logo"
    />
    <SocialLink
      href="https://www.linkedin.com/in/albertsalomvanrell/"
      icon="/linkedin-logo.webp"
      label="LinkedIn Logo"
    />
  </nav>
</footer>
