<header class="text-text-primary flex justify-center p-4">
  <nav class="flex gap-12 text-xl font-medium">
    <a href="#about-me">Sobre mí</a>
    <a href="#tech-section">Tecnologías</a>
    <a href="#projects-section">Proyectos</a>
  </nav>
</header>
