<header>
  <nav>
    <a href="">Sobre mí</a>
    <a href="">Tecnologías</a>
    <a href="">Proyectos</a>
  </nav>
  <nav>
    <a href="">Github</a>
    <a href="">LinkedIn</a>
    <a href="">Email</a>
  </nav>
</header>
