<header class="text-text-primary flex justify-center p-4">
  <nav class="flex gap-8 text-xl font-medium md:gap-12">
    <a href="#about-me">Sobre mí</a>
    <a href="#tech-section">Stack</a>
    <a href="#projects-section">Proyectos</a>
  </nav>
</header>
