---
import Email from "./logosLink/Email.astro";
import Github from "./logosLink/Github.astro";
import Linkedin from "./logosLink/Linkedin.astro";
---

<section class="m-0 my-24 flex items-center justify-center gap-12">
  <img class="h-52 rounded-full" src="/me.webp" alt="Foto de Albert Salom" />
  <div class="flex max-w-md flex-col gap-4">
    <header>
      <h2 class="text-6xl font-bold">Albert Salom</h2>
      <h3 class="text-4xl font-semibold">Software Developer</h3>
    </header>
    <p>
      Desarrollador <strong class="text-accent">Full-Stack</strong>.
      Construyo interfaces limpias y APIs sencillas y mantenibles
    </p>

    <nav class="flex items-center gap-8">
      <a
        href="/CVAlbertSalom.pdf"
        target="_blank"
        class="bg-accent flex items-center gap-3 rounded-xl px-6 py-2 text-lg font-semibold text-text-primary"
      >
        <img class="h-6" src="/download.svg" alt="Icono de descarga" />
        Descargar CV
      </a>
      <div class="flex gap-6">
        <Github classList="h-8" />
        <Linkedin classList="h-8" />
        <Email classList="h-8 w-8" />
      </div>
    </nav>
  </div>
</section>
