<section class="m-0 flex items-center justify-center gap-12">
  <img
    class="h-52 rounded-full"
    src="/src/assets/me.webp"
    alt="Foto de Albert Salom"
  />
  <div class="flex flex-col gap-4">
    <header>
      <h2 class="text-6xl font-bold">Albert Salom</h2>
      <h3 class="text-4xl font-semibold">Software Developer</h3>
    </header>

    <p class="w-4/5">
      Desarrollador <strong>Full-Stack</strong>. Construyo interfaces limpias y
      APIs sencillas y mantenibles
    </p>
  </div>
</section>
