---
import TechCard from "./TechCard.astro";

const images = [
  {
    src: "/techs/astro-icon-light.svg",
    alt: "Astro Logo",
  },
  {
    src: "/techs/java.svg",
    alt: "Java Logo",
  },
  {
    src: "/techs/python.svg",
    alt: "Python Logo",
  },
  {
    src: "/techs/javascript.svg",
    alt: "JavaScript Logo",
  },
  {
    src: "/techs/typescript.svg",
    alt: "TypeScript Logo",
  },
  {
    src: "/techs/vue.svg",
    alt: "Vue Logo",
  },
  {
    src: "/techs/tailwind.svg",
    alt: "Tailwind Logo",
  },
];
---

<section class="mb-12 flex flex-col gap-6">
  <h3 class="title-section">Stack</h3>
  <div class="mx-auto flex flex-wrap justify-center gap-4">
    {images.map((image) => <TechCard image={image.src} alt={image.alt} />)}
  </div>
</section>
