---
import "../styles/global.css";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>alberba - Portfolio Dev</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    background:
      radial-gradient(
        ellipse 500px 300px at 50% 18%,
        var(--color-accent-20) 0%,
        transparent 100%
      ),
      radial-gradient(
        ellipse 200px 180px at 20% 50%,
        var(--color-accent-10) -40%,
        transparent 100%
      ),
      radial-gradient(
        ellipse 300px 300px at 90% 60%,
        var(--color-accent-5) 0%,
        transparent 100%
      ),
      radial-gradient(
        ellipse 1000px 400px at 50% 95%,
        var(--color-accent-10) 40%,
        transparent 100%
      ),
      var(--color-primary);
    display: flex;
    flex-direction: column;
    color: #94a1b2;
    font-family: system-ui, sans-serif;
  }
</style>
